---
import ArrowButton from '@elements/ArrowButton.astro'
import CommonModal from '@elements/CommonModal.astro'
import type { CommmonFormProps } from '@elements/Form.astro'
import Form from '@elements/Form.astro'
import Input from '@elements/Input.astro'
import TextCloseButton from '@elements/TextCloseButton.astro'

export const modal = '#founder-letter'

export interface Props {
  heading?: string
  description?: string
  form?: CommmonFormProps
}

const {
  heading = 'Напишите письмо управляющему',
  description = 'Оставьте свои контакты и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время',
  form = {
    inputs: [
      {
        name: 'name',
        placeholder: 'Имя',
        emptyError: 'Заполните поле',
        type: 'text',
        staticError: 'mobile',
        required: true,
      },
      {
        name: 'phone',
        placeholder: 'Телефон',
        emptyError: 'Заполните поле',
        fillError: 'Заполните телефон полностью',
        type: 'phone',
        staticError: 'mobile',
        required: true,
      },
    ],
    submitButton: 'Отправить',
    terms:
      'Нажимая на&nbsp;кнопку «отправить», вы&nbsp;даёте согласие на&nbsp;обработку персональных данных',
    successTitle: 'Спасибо',
    successMessage: 'Письмо отправлено, в близжайшее время мы с вами свяжемся.',
    errorMessage:
      '"При отправке формы произошла ошибка. Попробуйте повтроить попытку позже.',
  },
} = Astro.props
---

<!-- SINGLETON -->
<CommonModal
  id="founder-letter"
  class="founder-letter"
>
  <div class="founder-letter__content">
    <TextCloseButton
      class="founder-letter__close-button"
      modal="founder-letter"
      theme={'dark'}
    />

    <div class="founder-letter__flex">
      <div class="founder-letter__text">
        <h3
          class="founder-letter__heading"
          set:html={heading}
        />

        <p
          class="founder-letter__description"
          set:html={description}
        />
      </div>
      <Form
        name="founder-letter"
        class="founder-letter__form"
        successTitle={form.successTitle}
        successMessage={form.successMessage}
        errorMessage={form.errorMessage}
      >
        <div class="founder-letter__form__inputs">
          {
            form.inputs.map((input) => {
              return (
                <Input
                  class="founder-letter__form__input"
                  {...input}
                />
              )
            })
          }
        </div>
        <ArrowButton
          theme="dark"
          type="submit"
          class="founder-letter__form__submit-button"
          >{form.submitButton}</ArrowButton
        >
        <p
          class="founder-letter__form__terms"
          set:html={form.terms}
        />
      </Form>
    </div>
  </div>
</CommonModal>

<style is:global>
  .founder-letter {
    color: var(--color-grey-1);
  }

  .founder-letter__content {
    width: 96.8rem;
    height: max-content;
    padding: 4rem;

    display: flex;
    flex-direction: column;

    border-radius: 0.8rem;
    background-color: var(--color-white-1);

    @media (max-width: 768px) {
      padding: 1.6rem;
      width: calc(100% - var(--screen-horisontal-padding) * 2);
    }
  }

  .founder-letter__close-button {
    margin-left: auto;
    margin-bottom: 2.4rem;
  }

  .founder-letter__flex {
    width: 100%;
    display: flex;
    gap: 4rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  .founder-letter__text {
    flex-shrink: 0;
    width: 42.8rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .founder-letter__heading {
    font-family: 'Code', sans-serif;
    font-size: 4rem;
    line-height: 120%;
    text-transform: uppercase;

    margin-bottom: 2.4rem;

    @media (max-width: 768px) {
      font-size: 2.6rem;
      margin-bottom: 1.6rem;
    }
  }

  .founder-letter__description {
    font-size: 2.2rem;
    font-weight: 300;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  .founder-letter__form {
  }

  .founder-letter__form__inputs {
    display: grid;
    grid-auto-rows: max-content;
    gap: 2.4rem;

    margin-bottom: 4rem;

    @media (max-width: 768px) {
      gap: 1.6rem;
      margin-bottom: 2.4rem;
    }
  }

  .founder-letter__form__input {
  }

  .founder-letter__form__submit-button {
    width: 100%;
    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      margin-bottom: 0.8rem;
    }
  }

  .founder-letter__form__terms {
    font-size: 1.8rem;
    font-weight: 300;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }
</style>
