---
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'
import SliderButton from './SliderButton.astro'

export interface Props {
  class?: string
  cover?: ImageDataProps
  hashtags?: Array<string>
  date?: string
  heading?: string
  blocks?: Array<string | { title?: string; images: Array<ImageDataProps> }>
}

const {
  class: className,
  cover = { src: '/images/article/1.png' },
  hashtags = ['Строительство'],
  date = '03.09.2024',
  heading = 'Норвежская рубка: искусство и традиции плотницкого мастерства',
  blocks = [
    `\
      <i>В мире деревянного строительства выбор технологии возведения дома или бани — это один из самых важных этапов, который определяет не только внешний вид, но и долговечность будущего сооружения</i>

      Среди популярных методов, таких как русская и канадская рубка, особое внимание привлекает норвежская рубка. Данный скандинавский способ, традиционно распространенный в Западной Европе, все активнее завоевывает популярность и на российских просторах, включая регионы с теплым климатом. <b>Одной из ключевых особенностей</b> норвежской рубки является использование лафета — полубруса, у которого стесаны противоположные стороны, что придает конструкции уникальную эстетику и прочность. В данной статье мы подробнее рассмотрим норвежскую рубку, ее отличия от традиционных технологий и преимущества, которые делают ее столь привлекательной для современных строителей.
      <blockquote>\
        Рубка — это технология строительства, которая заключается в соединении углов пиломатериала, таких как круглые бревна или полубрус (лафет), с помощью врубок. Данный метод имеет множество разновидностей, среди которых наиболее популярны русская, канадская и норвежская рубка.
      </blockquote>\
      Русская рубка считается самой простой в исполнении и до сих пор пользуется спросом. Однако у нее есть значительные недостатки: в чашу, то есть место соединения бревен, попадает вода, что приводит к необходимости конопатить стыки уже через год для минимизации теплопотерь. Кроме того, из-за неплотного крепления влажные бревна могут деформироваться и «крутиться».

      Норвежская и канадская рубка имеют много общего, но различаются по используемому пиломатериалу. В канадской технологии применяют полубрус (лафет), тогда как в норвежской — круглые бревна. Главное преимущество этих технологий заключается в наличии замка, который обеспечивает самозаклинивание элементов со временем, что значительно повышает прочность конструкции и снижает вероятность появления щелей.

      Таким образом, рубка — это не просто метод соединения древесины, а целая система, которая позволяет строить надежные и долговечные здания с учетом климатических условий и особенностей материала.
    `,
    {
      title: 'Норвежская рубка: искусство и традиции плотницкого мастерства',
      images: [
        { src: '/images/article/2.png' },
        { src: '/images/article/3.png' },
        { src: '/images/article/4.png' },
        { src: '/images/article/5.png' },
      ],
    },
    `
      <h2>Характеристика лафета:</h2>
      <ul>\
        <li>Лафет, или полубрус, представляет собой универсальный строительный материал, который используется в традиционном деревянном строительстве. Для его изготовления применяются различные виды древесины, среди которых наиболее популярны дуб, ель (реже), кедр, лиственница и сосна. Данные породы обеспечивают необходимую прочность и долговечность конструкции.</li>
        <li>Диаметр бревен, используемых для производства лафета, варьируется от 280 до 600 мм, хотя для норвежской и канадской рубки предпочтительнее бревна диаметром от 280 до 450 мм. Важно отметить, что пиломатериал берется с естественной влажностью, что способствует лучшему соединению элементов при строительстве.</li>
        <li>Чтобы предотвратить образование трещин в процессе усушки древесины, еще на этапе сушки в материале делают продольные пропилы — как сверху, так и снизу. После завершения строительства, усушка лафета продолжается в течение 4-5 лет, в результате чего средняя усадка стен составляет 50 мм для одноэтажных зданий и 150 мм для двухэтажных.</li>
        <li>Лафет можно изготовить самостоятельно, однако оптимальным вариантом является заказ раскроя на специализированной пилораме. Процесс начинается с срезания боковых сторон бревен, после чего производится окорение — удаление коры вручную с помощью электрорубанка. Подготовленный полуфабрикат для вырубки  замков имеет размеры: ширина 200-240 мм и высота 280-450 мм. Стандартная длина лафетов составляет 6100 мм, что делает их удобными для использования в строительстве.</li>
      </ul>
      Таким образом, <b>лафет — это надежный и качественный строительный материал</b>, обладающий хорошими эксплуатационными характеристиками и способный обеспечить долговечность деревянных конструкций.


      <h2>Преимущества и недостатки технологии:</h2>
      <ol>
        <li>Высокий уровень теплосбережения. Норвежский замок, используемый в этой технологии, обеспечивает исключительную герметичность. Именно это практически исключает образование зазоров, что предотвращает попадание воды и воздуха внутрь конструкции.</li>
        <li>Высокий уровень теплосбережения. Норвежский замок, используемый в этой технологии, обеспечивает исключительную герметичность. Именно это практически исключает образование зазоров, что предотвращает попадание воды и воздуха внутрь конструкции.</li>
        <li>Минимальное количество венцов. Для строительства одноэтажного здания требуется всего от 10 до 12 венцов, что снижает количество соединений и увеличивает герметичность постройки.</li>
        <li>Однородная толщина стен. Это гарантирует отсутствие теплопотерь и хорошую звукоизоляцию. Деревянные стены толщиной 200 мм имеют такие же характеристики, как кирпичные стены толщиной 1000 мм, что делает их более эффективными с точки зрения теплоизоляции.</li>
        <li>Существенная экономия. Отсутствие необходимости в утеплении и отделке стен существенно сокращает затраты. Деревянные конструкции выглядят безукоризненно даже без дополнительной облицовки.</li>
        <li>Ровная поверхность внутренних стен. Это облегчает монтаж мебели и прокладку коммуникаций, не крадя полезную площадь помещений.</li>
        <li>Прочность и устойчивость. Конструкции, выполненные по технологии норвежской рубки, отличаются высокой надежностью благодаря заклинению бревен под собственным весом, что исключает деформацию.</li>
        <li>Экологичность. В сравнении с постройками из клееного бруса, норвежская рубка является более экологически чистой альтернативой.</li>
        <li>Скорость строительства. Процесс не требует ожидания усыхания бревен и усадки, что позволяет быстрее завершить проект.</li>
      </ol>
      Однако у технологии норвежской рубки есть и свои недостатки. Главный из них — высокая требовательность к квалификации строителей. Тщательный подбор и подгонка бревен, а также выпиливание шипов требуют значительных усилий и времени. Некомпетентность в этом процессе может привести к заметным погрешностям, что негативно скажется на качестве конечного строения.

      Таким образом, несмотря на свои недостатки, технология норвежской рубки предлагает множество преимуществ, которые делают её одной из лучших в сфере деревянного строительства.

      Строительная компания «Три Топора Привилегия» специализируется на возведении загородных домов по технологии норвежской рубки, предлагая своим клиентам уникальные решения для комфортного проживания. Мы обеспечиваем высокое качество и долговечность строений благодаря использованию современных методов и материалов, а также квалифицированной команде специалистов, которые внимательно следят за каждым этапом строительства. Наша цель — создать уютные и экологически чистые дома, которые будут радовать своих владельцев долгие годы.

      <ol>
        <li>Компания «Три Топора Привилегия» занимается возведением домов и бань из дерева с 2013 года и имеет огромный опыт в строительной деятельности. Наши мастера качественно и оперативно выполняют проекты наших клиентов, воплощая их мечты в жизнь!</li>
        <li>На нашем сайте вы сможете найти большое количество готовых проектов деревянных домов из кедра, среди которых вы обязательно сможете найти идеальный вариант для себя. Наша компания осуществляет как возведение готовых проектов, так и создание индивидуального проекта с нуля.</li>
        <li>Мы всегда готовы предложить вам индивидуальную консультацию и оперативно ответить на все возникшие вопросы.</li>
      </ol>
      Надеемся на будущее плодотворное сотрудничество!
    `,
  ],
  ...rest
} = Astro.props
---

<!-- 
  На элемент нужно добавить атрибут data-hashtag.

  Пример: 
    data-hashtag="Строительство, Дизайн"
    data-hashtag="Архитектура"
-->
<div
  {...rest}
  class:list={['full-article', className]}
  data-hashtags={hashtags}
>
  <Image
    class="full-article__cover"
    {...cover}
    lazy
    lazyBackground
    cover
    rounded
  />
  <div class="full-article__h-d">
    <div class="full-article__hashtags">
      {
        hashtags.map((hashtag) => {
          return (
            <div
              class="full-article__hashtag"
              set:html={`#${hashtag}`}
            />
          )
        })
      }
    </div>
    <div
      class="full-article__date"
      set:html={date}
    />
  </div>
  <h1
    class="full-article__heading"
    set:html={heading}
  />
  {
    blocks.map((block) => {
      if (typeof block === 'string') {
        return (
          <div
            class="full-article__rich"
            set:html={block}
          />
        )
      } else {
        return (
          <e-scroll class="full-article__slider">
            <SliderButton
              slot="static"
              type={'prev'}
              theme={'dark'}
              background
              class="full-article__slider__button full-article__slider__button_left"
            />
            <SliderButton
              slot="static"
              type={'next'}
              theme={'dark'}
              background
              class="full-article__slider__button full-article__slider__button_next"
            />
            <div
              class="full-article__slider__name"
              set:html={block.title}
              slot="static"
            />
            {block.images.map((image) => {
              return (
                <Image
                  class="full-article__slider__image"
                  {...image}
                  cover
                  rounded
                  lazy
                  lazyBackground
                />
              )
            })}
          </e-scroll>
        )
      }
    })
  }
</div>

<style is:global>
  .full-article {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    padding: 2.4rem;

    border-radius: 0.8rem;
    color: var(--color-grey-1);
    background-color: var(--color-white-1);

    overflow: hidden;

    @media (max-width: 768px) {
      padding: 1.6rem;
    }
  }

  .full-article__cover {
    width: 100%;
    height: 48rem;

    margin-bottom: 2.4rem;

    @media (max-width: 769px) {
      height: 27.7rem;

      margin-bottom: 1.6rem;
    }
  }

  .full-article__h-d {
    font-size: 2.4rem;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2.4rem;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  .full-article__hashtags {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .full-article__hashtag {
  }

  .full-article__date {
  }

  .full-article__heading {
    font-family: 'Code', sans-serif;
    font-size: 4.8rem;
    line-height: 120%;
    text-transform: uppercase;

    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      font-size: 2.2rem;
    }
  }

  .full-article__rich {
    font-size: 2.4rem;
    letter-spacing: 0.02em;
    font-weight: 300;
    line-height: 140%;

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      line-height: 140%;
      font-weight: 500;
      letter-spacing: inherit;
    }

    b {
      font-weight: 500;
    }

    i {
      font-style: italic;
    }

    blockquote {
      width: 92.8rem;
      padding: 2.4rem;
      margin: 4rem auto;

      border: 0.1rem solid var(--color-grey-1);
      border-radius: 0.8rem;

      @media (max-width: 768px) {
        width: 100%;
        padding: 1.6rem;
        margin: 2.4rem auto;
      }
    }

    ol {
      list-style: decimal;
    }

    ol > li::marker {
      font-weight: bold;
    }

    ul {
      list-style: disc;
    }

    ol,
    ul {
      white-space: initial;

      display: grid;
      grid-auto-rows: max-content;
      gap: 1.6rem;

      list-style-position: inside;
    }

    li {
      white-space: pre-line;
    }

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  .full-article__slider {
    --gap: 2.4rem;
    --axis: x;
    --sectional: true;
    --auto-size: true;
    --sections-in-view: 2;

    display: flex;
    gap: var(--gap);

    height: 56.3rem;

    margin-top: 4rem;
    margin-bottom: 8rem;

    @media (max-width: 768px) {
      --sections-in-view: 1;

      height: 35rem;

      margin-top: 2.4rem;
      margin-bottom: 6.6rem;
    }
  }

  .full-article__slider__name {
    font-size: 2rem;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.02em;

    color: var(--color-grey-5);

    position: absolute;
    top: calc(100% + 1.6rem);
    left: 0;

    @media (max-width: 768px) {
      font-size: 1.4rem;
      top: calc(100% + 0.8rem);
    }
  }

  .full-article__slider__image {
    width: 50%;
    height: 100%;
  }

  .full-article__slider__button {
    --disabled-opacity: 0;

    position: absolute;
    top: 50%;
    z-index: 1;

    background-color: var(--color-white-1);
  }

  .full-article__slider__button_left {
    left: 0;
  }

  .full-article__slider__button_next {
    right: 0;
  }
</style>
