---
import type { HTMLAttributes } from 'astro/types'
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'

export interface Props extends HTMLAttributes<any> {
  class?: string
  image?: ImageDataProps | false
  href?: string
  hashtags?: Array<string> | false
  date?: string
  title?: string
  description?: string
}

const { class: className, image = { src: '/images/dev/image/1.jpg' }, href = '/blog/article', hashtags = ['cтроительство'], date = '03.09.2024', title = 'Норвежская рубка: искусство и традиции плотницкого мастерства', description = 'В&nbsp;мире деревянного строительства выбор технологии возведения дома или&nbsp;бани&nbsp;— это&nbsp;один из&nbsp;самых важных этапов, который определяет не&nbsp;только внешний вид, но&nbsp;и&nbsp;долговечность будущего сооружения', ...rest } = Astro.props
---

<a
  {...rest}
  class:list={['news-card', className]}
  href={href}
  data-prefetch
  data-hashtags={hashtags}
  data-save-scroll-state
  data-save-document-state>
  {
    image && (
      <div class="news-card__image-wrapper">
        <Image
          {...image}
          class="news-card__image"
          lazy
          lazyBackground
          cover
          rounded
        />
      </div>
    )
  }

  <span class="news-card__content">
    <span class="news-card__top">
      {
        hashtags !== false && hashtags.length && (
          <span class="news-card__hashtags">
            {hashtags.map((hashtag) => {
              return <span set:html={`#${hashtag}`} />
            })}
          </span>
        )
      }
      <span
        class="news-card__date"
        set:html={date}
      />
    </span>

    <span
      class="news-card__title"
      set:html={title}
    />

    <span
      class="news-card__description"
      set:html={description}
    />
  </span>
</a>

<style is:global>
  .news-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .news-card__image-wrapper {
    width: 100%;
    height: 42rem;

    margin-bottom: 2.4rem;

    overflow: hidden;
    border-radius: 0.8rem;

    @media (max-width: 768px) {
      margin-bottom: 1.6rem;
      height: 30.3rem;
    }
  }

  .news-card__image {
    width: 100%;
    height: 100%;

    @media (hover: hover) {
      will-change: transform;

      transition: transform var(--duration-button);

      .news-card__image-wrapper:hover & {
        transform: scale(1.015);
      }
    }
  }

  .news-card__top {
    font-size: 2.2rem;
    font-weight: 300;

    display: flex;
    justify-content: space-between;
    gap: 2rem;

    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      font-size: 1.6rem;

      gap: 1rem;

      margin-bottom: 0.8rem;
    }
  }

  .news-card__content {
    display: flex;
    flex-direction: column;
  }

  .news-card__hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;

    @media (max-width: 768px) {
      gap: 0.1rem 0.25rem;
    }
  }

  .news-card__date {
  }

  .news-card__title {
    font-size: 2.4rem;
    font-weight: 500;

    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }
  }

  .news-card__description {
    font-size: 2.2rem;
    line-height: 120%;
    font-weight: 300;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
</style>
