---
import Image from '@elements/Image.astro'
import RichText from '@elements/RichText.astro'
import SectionHeading from '@elements/SectionHeading.astro'

export interface Props {
  class?: string
  heading?: string
  photo?: string
  studio?: {
    name: string
    image: string
  }
  description?: string
}

const {
  class: className,
  heading = 'Юлия Пивнева',
  photo = '/images/team/pivneva-yuliya/1.jpg',
  studio = {
    name: 'Студия Versa Design by Pivneva',
    image: '/images/team/pivneva-yuliya/studio.jpg',
  },
  description = `
    <ul>
    <li>1996-2001 Пермский строительный колледж специальность "Архитектура"</li>
    <li>Мастер классы Oxford United Kingdom 02.06.2015 "Inspiration for the interior designer. How to be inspired".</li>
    <li>20.02.2015 by Mr Alessio Constantino lead architect at Zaha Hadid Architects.</li>
    <li>WK School of Art & Design, London 2-13 июля 2018 г. "Design for life. Interior design principles: the British way"</li>
    </ul>
  `,
  ...rest
} = Astro.props
---

<!-- BLOCK -->
<div
  {...rest}
  class:list={['collaborator-intro', className]}
>
  <SectionHeading
    class="collaborator-intro__heading"
    tag="h1"
    text={heading}
  />

  <div class="collaborator-intro__content">
    <Image
      class="collaborator-intro__photo"
      src={photo}
      alt={heading}
      lazy
      lazyBackground
      cover
      rounded
    />

    <div class="collaborator-intro__studio">
      <div
        class="collaborator-intro__studio__name"
        set:html={studio.name}
      />
      <Image
        class="collaborator-intro__studio__image"
        src={studio.image}
        alt={studio.name}
        lazy
        lazyBackground
        cover
        rounded
      />
    </div>

    <RichText
      text={description}
      class="collaborator-intro__description"
    />
  </div>
</div>

<style is:global>
  .collaborator-intro {
    position: relative;
    z-index: calc(var(--z-lines) + 1);

    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
    padding-top: 0;
  }

  .collaborator-intro__heading {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
    }
  }

  .collaborator-intro__content {
    display: flex;
    gap: 2.4rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .collaborator-intro__photo {
    flex-shrink: 0;

    width: 38.3rem;
    height: 48rem;

    @media (max-width: 768px) {
      width: calc(100% + var(--screen-horisontal-padding) * 2);
      margin-left: calc(var(--screen-horisontal-padding) * -1);
      height: 36rem;
    }
  }

  .collaborator-intro__studio {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .collaborator-intro__studio__name {
    width: 28.1rem;
    font-size: 2.4rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
      width: unset;
      font-size: 1.6rem;
    }
  }

  .collaborator-intro__studio__image {
    width: 38.3rem;
    height: 40.2rem;

    @media (max-width: 768px) {
      width: 100%;
      height: 31.1rem;
    }
  }

  .collaborator-intro__description {
    width: 79.6rem;
    padding-top: 7.8rem;

    @media (max-width: 768px) {
      width: 100%;
      padding-top: unset;
    }
  }
</style>
